@font-face {
  font-family: "Basier Circle";
  src: url(./Basier\ Circle\ Regular.otf) format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Basier Circle";
  src: url(./Basier\ Circle\ Medium.otf) format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Basier Circle";
  src: url(./Basier\ Circle\ SemiBold.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Basier Circle";
  src: url(./Basier\ Circle\ Bold.otf) format("opentype");
  font-weight: 500;
}
