/* Work info balk */

.workInfoWrapper {
  padding-left: 10vw;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.workInfoItem {
  display: flex;
  flex: 0 0 25%;
  flex-direction: column;
}

.workItemUpper {
  color: #888;
  line-height: 24px;
  font-size: 16px;
  font-weight: 200;
}

.workItemLower {
  font-size: 16x;
  color: #252525;
  line-height: 24px;
  font-weight: 200;
}

/* Case introductie */

.textIntroductionText {
  margin: 0;
  color: black;
  font-size: 32px;
  font-weight: 200;
  line-height: 110%;
  font-family: "Basier Circle";
}

.caseIntroductionWrapper {
  position: relative;
  margin: 0 auto;
  max-width: 80%;
}

.textIntroduction {
  margin-right: 240px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.introPhoto {
  margin: 0 auto;
}

.introPhotoImg {
  width: 100%;
}

/* Section one */

.textBlockWrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.textBlockText {
  width: 50%;
  font-size: 20px;
  font-weight: 100;
  opacity: 50%;
}


.textBlockTitle {
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 0;
}

.textBlockTitleWrapper {
  width: 50%;
}

.titleLine {
  margin-top: 25px;
  border-left: 40px solid black;
  height: 3px;
}

@media only screen and (max-width: 950px) {
  .textIntroduction {
    margin-right: 0;
  }

  .textBlockWrapper {
    flex-direction: column;
  }

  .textBlockText {
    width: 100%;
    margin-top: 24px;
  }
}

@media only screen and (max-width: 700px) { 
  .caseIntroductionWrapper { 
    max-width: 95%;
  }
  .workInfoItem { 
    flex: 0 0 22%;
  }
  .workInfoWrapper { 
    padding-left: 0vw;
  }
}

@media only screen and (max-width: 580px) { 

  }

@media only screen and (max-width: 400px) { 
  .workInfoWrapper { 
    flex-direction: column;
    padding-left: 16px;
  }

  .workInfoItem {
    margin-bottom: 16px;
  }

  .textIntroductionText {
    font-size: 20px;
    line-height: 130%;
  }

  .textIntroduction {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .textBlockTitle {
    font-size: 32px;
  }

  .textBlockText {
    font-size: 16px;
  }

  .textBlockTitleWrapper {
    width: 90%;
  }
}